

/* The background*/


.bodybg{

	margin: 0;
	padding: 0;
	width: 70%;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  border-top: 20px solid #fff;
  transition-duration: 0.19s;
  transition-timing-function: ease-out;

}

/* The Top row containing the slide toggle side bar menu button , the picture and search icon*/


.top-row{

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 30px;


}

#menu_toggle{

  font-size: 30px;
  color: #696969;
  cursor: pointer;


}
 
#top-image{
    
  display: inline-block;
  margin-top: -20px;
  box-shadow: 0px 0px 4px 0px #CCC;
	-webkit-filter: saturate(50%);
	
}

#contactnsearch{

  margin-top:2px;
  clear:both;

}

#contactnsearch a{

  color: #696969;
  font-size: 25px;
}

/* The menubar*/

.menubar{

  background-color: #d579c3;
  width: 100%;
  height: 50px;
  clear:  both;
  margin-top: -67px;
  position:absolute;
  float: left;
  margin-left: 0;
  box-shadow: 0px 0px 4px 0px #CCC;
 

}


.menubar ul{

  margin-left: -20px;

}



.menubar-items li{

  float: left;
  margin-top: -16px;
  list-style-type: none;
  font-family: 'Titillium Web', sans-serif;
}


.menubar .menubar-items li a{

  padding : 13px 19px;
  display: block;
  text-decoration: none;
  border-right: 2px solid #f2e0f1;
  cursor: pointer;
  color: #f8f8ff;
}

.menubar .menubar-items li:last-child a{

  border-right: none;

}

.menubar .menubar-items a:hover{

  background-color: #c9f;

}


.contacticons li {

  float: right;
  margin-top: -17px;
  display: block;
  list-style-type: none;
  padding : 15px 19px;
   

}

.contacticons a{

  text-decoration: none;
  color: #fff;
  font-size: 25px;
  cursor: pointer;

}

.contacticons a:hover{

  color: #d3d3d3;
}

/* Top main paragraph */

#paragraph p{

	 padding-right: 20px;
	 padding-left: 20px;
   font-family: 'Titillium Web', sans-serif;
   font-size: 15px;

}

/*Site brand name*/

#rosegold_title{

  font-family: 'Allura', cursive;
  font-size: 44px;
  background: -webkit-linear-gradient(#d93c77, #e4c061);
  text-shadow: 0 0 3px 6px #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
 text-align: center;
 margin-left: -25px;
 margin-top: -10px; 
 clear: both;     
  
	
}

#beauty_req_title{
   font-family: 'Parisienne', cursive;
   font-size: 15px;
   color: #000;
   text-align: center;
   margin-left: -20px;
   margin-top: -40px;
 

}

/* Images gallery bar */

#whatsnew{

   font-family: 'Titillium Web', sans-serif;
   font-size: 18px; 
   padding-left: 30px;
   color: #fff;
   


 }

 h3{

   font-family: 'Titillium Web', sans-serif;
   font-size: 18px;
   padding-left: 30px;
   color: #fff;
   


 }

 #headingh3{

   width: 100%;
   height: 50px;
   line-height: 45px;
   background-color: #87bcc2;
   margin-top: 40px;
   
      

}

/* Images in gallery */

.thumbnails-image{

 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  clear: both;
  background-color: rgba(228, 228, 228, 0.5);
  margin-bottom: 40px;
  
  


  
}

.top3imagemargin{

  margin-top: 20px;

}

.image{

  width: 250px;
  height: 240px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  background-size: cover;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  
}

.image img{
  
  width: auto;
  height: auto;
  
}

.image img:hover{

  background-color: rgba(204,160,200,0.6);
}


/* slide out sidebar */


.sidebar{

  position: fixed;
  top: 0;
  right: 0;
  left: -220px;
  bottom: 0;
  z-index: 0;
  width: 150px;
  padding: 30px;
  background-color: #a83a7f; 
  clear:both;
  transition-duration: 0.19s;
  transition-timing-function: ease-out;
}

.sidebar li{

  color: #fff;
  list-style-type: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 17px;
  margin-left: -32px;
  margin-bottom: 18px;
  -webkit-font-smoothing: antialiased;


}

.sidebar li:hover{

  cursor: pointer;
  color: #d3d3d3;
}


#sidebartoggler{

  display:none;
}

#sidebartoggler:checked + .bodybg .sidebar{

  left: 0;

}


#sidebartoggler:checked + .bodybg{

  margin-left: 290px;
      transition-duration: 0.199s;
    transition-timing-function: ease-out;

}

hr{

  width: 70%;

}

/* Trending news */

.bottombar{

  width: 60%;
  height: 50px;
  line-height: 45px;
  background-color: #87bcc2;
    
}

.trending_images{
  
  
  width: 60%;
  background-color: #fff0f5;


}

.image_trend{



  width: 60px;
  height: 60px;
  margin-left: 20px;
  margin-bottom: 10px;


}

.image_trend img{

  width: auto;
  height: auto;
  box-shadow: 0px 0px 4px 2px #CCC;


}

.image_trend img:first-child{

  margin-top: 10px;
}





.span_trend{

  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  position: relative;
  left: 149px;
  top: -34px;
  
}

.span_trend a{

  text-decoration: none;
  color: #000;
}

.span_trend a:hover{

  color: #696969;
}

/* Trending vlogs */

#trending_vlogs{

  float:right;
  position: relative;
  right:0;
  top: -520px;
  width: 38%;
  height: 50px;
  line-height: 13px;
  background-color: #87bcc2;
  
  
}

.vlog_body{

  width: 38%;
  background-color: #fff0f5;
  position: absolute;
  float:right;
  right: 0;
  top: 1973px;


}

iframe{

  margin-top: 10px;
  margin-left: calc(50% - 103px);
  clear:both;
}

iframe:last-child{

  margin-bottom: 10px;

}

#rulebottom{

  margin-top: 90px;

}


/* Article */

#article{

  font-family: 'Allura',sans-serif;
  color: black;
  font-size: 20px;
  margin-left: 20px;
  

}



#article img{

display: block;
float:left;
margin-right: 20px;

}



#polka_title{

  margin-left: 290px;
  color: #a492ac;

}


/* Clients and partners */

#clientsheading{

   width: 100%;
   height: 50px;
   line-height: 45px;
   background-color: #87bcc2;
   margin-top: 70px;
  
   
  
}

.ads{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  clear:both;

}

.ads img{
   
  margin-top: 30px;
  display: inline-block;
}

/* Footer */

.footer_bar{

  width: 100%;
  margin-top: 52px;
  background-color: #d579c3;
  height: 70px;
}

.footer_bar span{

  display:inline-block;
  margin-top: 20px;
  margin-left: 340px;
  font-size: 14px;
  font-family:'Titillium Web', sans-serif;
  color: #ccc;
}

.footer_bar span a{

  text-decoration: none;
  color: #ccc;
  font-weight: bold;
}


